<main class="bg">
  <article class='city-list'>
    <table>
      <tr class="title">
        <td>Destination</td>
        <td>Price</td>
        <td>Save</td>
        <td>See Instagram</td>
      </tr>
    <div class="result">
      {{#results}}
          <tr>
            <td class="city_name">{{city}}</td>
            <td class="price">${{price}}</td>
            {{#if ../userForCity}}
              <td><button type="button" id="{{city}}" onclick="save('{{city}}')">Save</button></td>
              {{else}}
              <td>Sign in to Save</td>
            {{/if}}
            <td><a href="/photos/{{city}}" class="insta" id='{{code}}' target="_blank">See on Instagram</a></td>
          </tr>
      {{/results}}
    </div>
   </table>
  </article>
</main>
