
<main class="bg">
  <article class='city-list'>
        <div class="title">
          <span class="city_name">Destination</span>
          <span class="price">Price</span>
          <span class="save">Save</span>
          <span class='insta'>See Instagram</span>
        </div>
        <div class="result">
          {{#results}}
              <span class="city_name">{{city}}</span>
              <span class="price">${{price}}</span>
              <button type="button" name="button">Save</button>
              <a href="/photos/{{city}}" class="button insta" id='{{code}}' target="_blank">See {{city}} on Instagram</a>
              <p class"break"> </p>
          {{/results}}
        </div>
  </article>
</main>
